{% extends "base.html" %}

{% block header %}
    {% block title %}
        Home page
    {% endblock title %}
{% endblock header %}

{% block content %}
<h1> Temporary homepage </h1>
{% endblock content %}